.lead {
    margin: 48px auto 0 auto;
    max-width: 77%;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 90.6%;
    }
}
@media screen and (max-width: 768px) {
    .lead {        
        max-width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .lead {
        margin: 48px auto 0 auto;
    }
}
