.lead__title {
    display: flex;
    margin: 0 auto;
    max-width: 78%;
    min-height: 200px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    color: #ffffff;
}
@media screen and (max-width:810px){
    .lead__title{
        font-size: 90px;
    }
}
@media screen and (max-width: 768px) {
    .lead__title {
        max-width: 93.75%;
        font-size: 96px;
    }
}
@media screen and (max-width:715px){
    .lead__title{
        font-size: 90px;
    }
}

@media screen and (max-width: 700px) {
    .lead__title {
        font-size: 60px;
        line-height: 1;
    }
}

@media screen and (max-width: 455px) {
    .lead__title {
        max-width: 90%;
        min-height: 88px;
        font-size: 40px;
        line-height: 1.1;
    }
}
