.footer__links {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    list-style: none;
    padding: 0;
    align-items: baseline;
}
@media screen and (max-width: 645px) {
    .footer__links {
        flex-direction: column;
    }
}
@media screen and (max-width: 320px) {
    .footer__links {
        font-size: 24px;
        line-height: 1;
    }
}