.cover {
    max-width: 92.5%;
    min-height: 640px;
    background-image: url(../../images/cover-trains.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    margin: 92px auto;
}
@media screen and (max-width: 768px) {
    .cover {  
        max-width: 100%;     
        min-height: 480px;        
    }
}
@media screen and (max-width: 425px) {
    .cover {
        margin: 0 0 64px 0;
        max-width: 425px;
        min-height: 200px;
    }
}

@media screen and (max-width: 320px) {
    .cover {       
        max-width: 320px;        
    }
}
.cover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2a2c2f;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.cover:hover::before {
    opacity: 0.8;
}
