.place {
    margin: 0 0 80px 0;
    max-width: 100%;
    min-height: 660px;
    display: grid;
    grid-template-rows: repeat(minmax(auto,auto), 1fr);
    grid-template-columns: 1fr 1.05fr;
    gap: 40px;
}
.place:last-child {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        min-height: 640px;        
    }
}

@media screen and (max-width: 768px) {
    .place {       
        min-height: 582px;
        margin: 0 0 72px 0;
        gap: 28px;
    }
}

@media screen and (max-width: 450px) {
    .place {
        min-height: 965px;
        margin: 0 0 41px 0;
        grid-template-rows: 35px 320px 1fr;
        grid-template-columns: minmax(auto,auto);
        gap: 32px;
    }
}
