.footer {
    max-width: 90.6%;
    min-height: 18px;
    margin: 0 auto 24px auto;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 645px) {
    .footer {
        flex-direction: column;
    }
}
@media screen and (max-width: 425px) {
    .footer {
        max-width: 58%;
    }
}